* {
  margin: 0;
  padding: 1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.title {
  margin-bottom: 10px;
}
.row {
  clear: both;
  padding: 0;
}

.cellBorder {
  border: 1px solid #999;
  float: left;
  font-size: 21px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  background-color: white;}

.cellBorder:focus {
  outline: none;
}

.hour {
  width: 18px;
}

.greyBack {
  background-color: #e4e4e4;
}
