* {
  margin: 0;
  padding: 1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.title {
  margin-bottom: 10px;
}
.row {
  clear: both;
  padding: 0;
}

.cellBorder {
  border: 1px solid #999 !important;
}
.cell{
  background-color: white;
  float: left;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.cell:focus{
  outline: none;
}

.hour {
  width: 18px;
}

.greyBack {
  background-color: #e4e4e4;
}

.cellLeftBorder{
  width: 51px;
  border-color: #999;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  text-align: left;
  line-height: 1.1;
  font-size: 12px;
  color: #888888;
}
.smallFont{
  font-size: 12px;
  line-height: 14px;
}
.blackBackground{
  background-color: #000000;
}

